
.headeritem {
    background-color:  #343535;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    font-weight: 600;
}

.headeritem a {
    padding: 14px;
    display: block;
}

.headeritem a:hover {
    background-color: #3F4747;
}

.headeritem-reveal-container {
    display: inline-flex;
}

.headeritem-reveal {
    margin: 2px 0;
    margin-right: 4px;
    padding: 14px 5px;
    color: #35C0E0;
    max-width: 100px;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.headeritem-reveal i {
    margin-left: 10px;
}

.headeritem-reveal:hover {
    background-color: #3F4747;
    color: #35C0E0;
    cursor: pointer;
}
.headeritem-selected, .headeritem-selected.headeritem-reveal:hover {
    background-color:#0195b7;
    color: #3F4747;
}

.headeritem-margin li.headeritem-no-margin {
    margin-right: 0;
}

.headeritem-margin li {
    margin-right: 4px;
}

.headeritem-hidden {
    overflow: hidden;
}

.glyphicon {
    color: #79DADA;
}

.glyphicon-search {
    padding-right: 10px;
}

.headeritem-light {
    margin: 2px 0;
    padding: 14px;
    background-color: #3F4747;
    font-weight: normal;
    max-width: inherit;
}

.header-scrollbar {
  max-height: 208px;  
  overflow: hidden;
}

input {
    color: white;
    margin: 0;
    padding: 0;
    background-color: #3F4747;
    border: none;
    width: 148px;
}

input:focus {
    outline: none;
}
