<ul class="layout-constrained">
<li class="headeritem headeritem-light">
    <label class="glyphicon glyphicon-search" for="query"></label>
    <input id="query" [ngModel]="query" (ngModelChange)="searchByTerm($event)" placeholder="Search..."/>
</li>
<li class="headeritem headeritem-light">
    <label class="glyphicon glyphicon-search" for="label"></label>
    <input id="label" [ngModel]="label" (ngModelChange)="searchByLabel($event)" placeholder="Record Label..."/>
</li>
<div><li class="headeritem headeritem-reveal" [class.headeritem-selected]="showYears" (click)="toggleYears()">Years<i class="glyphicon glyphicon-chevron-down" *ngIf="!showYears"></i><i class="glyphicon glyphicon-chevron-up" *ngIf="showYears"></i>
<li class="headeritem headeritem-reveal" [class.headeritem-selected]="showLabels" (click)="toggleLabels()">Labels<i class="glyphicon glyphicon-chevron-down" *ngIf="!showLabels"></i><i class="glyphicon glyphicon-chevron-up" *ngIf="showLabels"></i>
</li><i class='glyphicon glyphicon-repeat slow-right-spinner'></i></div>
</ul>
<style>
    .glyphicon.slow-right-spinner {
    -webkit-animation: glyphicon-spin-r 3s infinite linear;
    animation: glyphicon-spin-r 3s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
</style>
<div *ngIf="showYears">
    <!--<span class="slider-button glyphicon glyphicon-chevron-left" (click)="moveSliderRight(sliderItems)"></span>-->
    <ul class="layout-constrained headeritem-margin">
        <li class="headeritem headeritem-light headeritem-no-margin headeritem-reveal">
            <label class="glyphicon glyphicon-search" for="year"></label>
            <input id="year" [ngModel]="year" (ngModelChange)="searchByYear($event)" placeholder="Year..."/>
        </li>
        <li class="headeritem headeritem-reveal" [class.headeritem-selected]="yearModel.toString() === year" *ngFor="let yearModel of years" (click)="searchByYear(yearModel)">{{yearModel}}</li>
    </ul>
    <!--<span class="slider-button  glyphicon glyphicon-chevron-right" (click)="moveSliderRight(sliderItems)"></span>-->
</div>
<ul class="layout-constrained headeritem-margin" *ngIf="showYears">
    <li class="headeritem headeritem-reveal" [class.headeritem-selected]="yearModel.toString() === year" *ngFor="let yearModel of yearsRange" (click)="searchByYear(yearModel)">{{yearModel}}</li>
</ul>

<ul class="layout-constrained headeritem-margin" *ngIf="showLabels">
    <li class="headeritem headeritem-reveal truncate" [class.headeritem-selected]="labelModel.Name.toString() === label" *ngFor="let labelModel of labels" (click)="searchByLabel(labelModel.Name)">{{labelModel.Name}}</li>
</ul>