.name {
    margin: 0;
    margin-bottom: 4px;
    color: #51c5c5;
    text-align: center;
    font-size: 4em;
}

.image {
    height: 400px; 
    background-color: #343535; 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    border-bottom: solid 1px #2EC7C7;
    border-top: solid 1px #2EC7C7;
}

.bio {
    font-size: 1.2em;
    margin: 10px 0;
    color: #75bbbb;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.bio:hover {
  cursor: pointer;
}

.has-no-bio:hover {
  cursor: default;
}

.show-more-bio {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #292c2c;
    opacity: 0.9;
}

.hide-more-bio {
  position: inherit;
}