<div fxLayout="row" class="listitem row">
    <div fxFlex="80px" class="listitem-image"><img [src]="album.image.url" /></div>
    <div fxFlex fxLayoutWrap class="truncate">
      <a fxFlex="grow" [href]="album.trustedUri" class="listitem-large truncate">{{album.name}}</a>
      <div class="listitem-small artist" *ngFor="let artist of album.artists; let last=last">
          <a class="truncate" routerLink="/artist/{{artist.id}}">{{artist.name}}</a>
          <span class="seperator" *ngIf="!last"> | </span>
          <br *ngIf="last" />
      </div>
      <div fxFlexFill class="listitem-small">
        <span class="listitem-smaller popularity">{{album.popularity}}</span> 
        <span class="listitem-smaller">{{album.release_date}}</span>
      </div>
    </div>
</div>
<div role="button" class="listitemsmall truncate" (click)="showTracks(album)">
    <i *ngIf="album.showDownChevron" class="listitem-subdued tracks-chevron glyphicon glyphicon-chevron-down"></i>
    <i *ngIf="album.showUpChevron" class="listitem-subdued tracks-chevron glyphicon glyphicon-chevron-up"></i>
    <span class="listitem-subdued">{{album.copyright?.text}}</span> 
</div>
<ng-template [ngIf]="album.recordings && album.showTracks">
    <div class="listitemsmall listitemsmall-link" *ngFor="let recording of album.recordings; let i=index">
        <a class="track-link truncate" [href]="recording.trustedUri"><span class="track-number">{{(i+ 1) + '.'}}</span> {{recording?.Name}}
        </a>
    </div>
</ng-template>