<div class="search-text"><span *ngIf="query.query.trim().length > 0">"{{query.query}}"</span> 
    <span *ngIf="query.query.trim().length > 0 && query.label.trim().length > 0"> on </span> 
    <span *ngIf="query.label.trim().length > 0">"{{query.label}}"</span>
    <span *ngIf="query.year.trim().length > 0"> {{query.year}}</span>
    
    <div class="headeritem-reveal-container" *ngIf="canSort() && !isLoading">
      <ul>
        <li class="headeritem headeritem-reveal" tabindex="0" (click)="toggleSortOrder()" (keyup.space)="toggleSortOrder()">{{sortOrderText}}</li>
        <li class="headeritem headeritem-reveal" tabindex="0" (click)="toggleSortDirection()" (keyup.space)="toggleSortDirection()">{{sortDirectionText}}</li>
      </ul>
    </div>
</div>
<tc-loader [isHidden]="!isLoading"></tc-loader>
<div tcInfiniteScroll class="clear-both" (scroll)="onScroll()" [@albumState]="state">
    <tc-album *ngFor="let album of albums | async; trackBy: trackByName" 
      [@albumState]="album.state" [album]="album">
    </tc-album>
    
    <div [@noResultsState]="noResultsState" data-test="no-results">Your search for <span *ngIf="query.query.trim().length > 0">"{{query.query}}"</span> 
        <span *ngIf="query.query.trim().length > 0 && query.label.trim().length > 0"> on the label </span> 
        <span *ngIf="query.label.trim().length > 0">"{{query.label}}"</span>
        <span *ngIf="query.year.trim().length > 0"> {{query.year}}</span>
        
         did not return any records. Keep digging the crates.
    </div>
    <div *ngIf="recordsHaveEnded()">The record has stopped</div>
</div>
<tc-loader [isHidden]="!query.scrolling"></tc-loader>
